<div id="homepage">
  <div style="margin-top:25%;">
    <div class="d-flex justify-content-center">
            <a href="/about">About Me</a>
        </div>
        <div class="d-flex justify-content-center"> 
            <a href="/projects">Projects</a>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/victorstolle" target="_blank">LinkedIn</a>
        </div>
  </div>
</div>