<div id="projects-banner" class="jumbotron card card-image p-0">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Active Projects</strong></h2>
    </div>
  </div>
</div>

<div id="projectentry" class="jumbotron card px-5">
    <div class="row">
        <div id="projectentry-content" class="col-sm-9 col-md-6 col-lg-6">
            <div class="row">
            <p>
                <strong>Title: Recipe Matching Software</strong>
                <br><br>Language(s): Python, MongoDB
                <br><br>Description: Match ingredients you have on hand with recipes from across the internet!
                <br><br>Status: (As of September 8, 2020) In Development
                <br><br>GitHub: <a href="https://github.com/VicSto/recipe_matcher" target="_blank">Link to Project Here</a> (Set to Private)
            </p>
            </div>
        </div>
        <div id="projectentry-image" class="col-sm-3 col-md-6 col-lg-6">
            <img src="/images/recipe-matcher-logo.png" alt="recipe-matcher-logo">
        </div>
    </div>
</div>

<div id="projectentry" class="jumbotron card px-5">
  <div class="row">
    <div id="projectentry-content" class="col-sm-9 col-md-6 col-lg-6">
      <div class="row">
        <p>
          <strong>Title: Professional Website</strong>
          <br><br>Language(s): Node.js, HTML5, CSS, JS, JQuery, Bootstrap.js, JQuery, Handlebars
          <br><br>Description: This website!
          <br><br>Status: (As of September 14, 2020) In Development
          <br><br>GitHub: <a href="https://github.com/VicSto/MyWebsite" target="_blank">Link to Project Here</a>
        </p>
      </div>
    </div>
    <div id="projectentry-image" class="col-sm-3 col-md-6 col-lg-6">
      <img src="/images/website-home-screenshot.png" alt="website-home-screenshot">
    </div>
  </div>
</div>

